Request & use an official port

This tool should use an official port assigned by IANA before it's released to the public.  See https://tools.ietf.org/html/rfc6335#section-8.1.1 for the process to request one.

Some notes:
* Assignee & contact should be a global address like support@plot.ly.
* Port number: anything from the user port range is fine; let's let them pick one.
* We should multiplex things so we can work with **one port** for all uses: getting data via the connector (securely and not), and controlling the connector remotely (if needed).

Let me know if you have any ❓❔ s

@chriddyp FYI

Update/tracking for this issue.

- [x] Requested placed on Aug 4th.  [IANA #921808]
- [ ] Receive response
- [ ] Address comments if any 


> Thank you for your patience. Our expert has reviewed your additional information. They indicated the following:
On review, we do not believe that a port number is necessary for this
service as described in the application. Since the Internet communication
happens over the Web protocol stack between the browser and a web service,
and the port is only useful on a localhost connection between the browser
and an application server, dynamic port selection approaches suffice:
Plotly can simply specify arbitrary port number for both the browser and
the application server to use, and specify an algorithm for iterating over
backup ports should that port be in use (for the application server) or not
host a valid plotly application server (for the browser).
See RFC 7605 section 7.1 for further explanation.
Your request was reviewed by port expert: Brian Trammell
We will resolve this request. However, if you have feedback that will change the request to where you believe a port number is still warranted, please re-submit your request with the new/additional information.


Oh well ¯\_(ツ)_/¯

Let's continue to use the port we've chosen, and if a customer ever has a conflict we can make the port configurable at that time.  @alexandresobolevski Close this if you agree 😸 

closing. will use 9494.